.breadcrumb{
    font-size: 1.6rem;
    color:rgba(0,0,0,.87);
    background-color: transparent;
    
    left: 70px;
}

ul.breadcrumb{
    padding-left: 0px;
}

.breadcrumb a{
    font-size: 1.6rem;
    color:rgba(0,0,0,.87);
}