
<mat-card>
    CATS is an automated workflow system that encourages a collaborative environment,
    enables the tracking of documents as they go through a comprehensive review and
    clearance process, and serves as a repository of correspondence and other official documents.
</mat-card>

<div class="card-deck mb-3 text-center" style="margin-top: 30px;margin-bottom: 30px;">
    <div class="card mb-4 box-shadow">
        <div class="card-header nav-item" style="padding-top: 7px; padding-bottom: 7px; background: linear-gradient(60deg, #6aa5bb, #2a6b84);">
            <div style="float: left; margin-top: 1px; margin-left: 5px;">
                <a href="#" [routerLink]="['/correspondence']">
                    <img width="49" height="49" alt="Correspondence Dashboard" src="../../../../../assets/images/CDashIcon.png">
                </a>
            </div>
            <div style="float: left; margin-top: 4px; position:absolute; left:70px;top: 13px">
                <a class="nav-link" href="#"  [routerLink]="['/correspondence']">
                Correspondence Dashboard
                </a>
            </div>
        </div>
        <div class="card-body" style="color: rgb(41, 40, 61); box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.1), 0px 3px 10px 0px rgba(0,0,0,0.1), 0px 8px 10px -5px rgba(0,0,0,0.1);">
            <div data-name="Page Field: Page Content 5">
                <div id="ctl02_label" style="display:none">
                    Page Content 5
                </div>
                <ul style="text-align:left;">
                    <li>Upload incoming correspondence and other documents<br></li>
                    <li>Assign office leads</li>
                    <li>Track the workflow for all documents<br></li>
                    <li>Access final repository for all documents<br></li>
                </ul>
                <div><strong>***Only available to the Correspondence Unit and Legislative Affairs***</strong><br></div>

            </div>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header nav-item" style="padding-top: 7px; padding-bottom: 7px; background: linear-gradient(60deg, #ecbf1f, #c79f11);">
            <div style="float: left; margin-top: 1px; margin-left: 5px;">
                <a href="../../../../../pages/CATS_ODashboard.aspx"  [routerLink]="['/originator']">
                    <img width="49" height="49" alt="Correspondence Dashboard" src="../../../../../assets/images/ODashIcon.png">
                </a>
            </div>
            <div style="float: left; margin-top: 4px;position:absolute; left:70px;top: 13px">
                <a class="nav-link " href="#"  [routerLink]="['/originator']">
                Originator Dashboard</a>
            </div>
        </div>
        <div class="card-body" style="color: rgb(41, 40, 61); box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.1), 0px 3px 10px 0px rgba(0,0,0,0.1), 0px 8px 10px -5px rgba(0,0,0,0.1);">
            <div data-name="Page Field: Page Content 7">
                <div id="ctl02_label" style="display:none">
                    Page Content 7
                </div>
                <ul style="text-align:left;">
                    <li>Access Pending Assignments (e.g., correspondence)</li>
                    <li>Launch new collaborations</li>
                    <li>
                        Manage the clearance process
                        ​<br>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header nav-item" style="padding-top: 7px; padding-bottom: 7px; background: linear-gradient(60deg, #aadd22, #668800);">
            <div style="float: left; margin-top: 1px; margin-left: 5px;">
                <a href="../../../../../pages/CATS_RDashboard.aspx"  [routerLink]="['/reviewer']">
                    <img width="49" height="49" alt="Correspondence Dashboard" src="../../../../../assets/images/RDashIcon.png" target="_blank">
                </a>
            </div>
            <div style="float: left; margin-top: 4px;position:absolute; left:70px;top: 13px">
                <a class="nav-link" href="#"  [routerLink]="['/reviewer']">
                Reviewer Dashboard</a>
            </div>
        </div>
        <div class="card-body" style="color: rgb(41, 40, 61); box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.1), 0px 3px 10px 0px rgba(0,0,0,0.1), 0px 8px 10px -5px rgba(0,0,0,0.1);">
            <div data-name="Page Field: Page Content 9">
                <div id="ctl02_label" style="display:none">
                    Page Content 9
                </div>
                <ul><li><div style="text-align:left;">​Review, edit and sign off on assigned documents​​<br><br></div><br></li></ul>
            </div>
        </div>
    </div>
</div>
