<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="WebDAV" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\Mod.CatsV3.WebApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
			<environmentVariables>
				<!-- CATS database connection string : value=="Server=INSTANCE;Database=CATALOG;Trusted_Connection=True;MultipleActiveResultSets=true"  -->
				<environmentVariable name="MOD.CatsV3.ConnectionString" value="Server=SPC-SQL-05;Database=CATSv3-DEV;Trusted_Connection=True;MultipleActiveResultSets=true" />
				<!-- Database having the Employee table connection string : value=="Server=INSTANCE;Database=CATALOG;Trusted_Connection=True;MultipleActiveResultSets=true"  -->
				<environmentVariable name="MOD_User_ConnectionString" value="Server=SPC-SQL-06;Database=EpicAccountSync;Trusted_Connection=True;MultipleActiveResultSets=true" />
				<!-- CATS angular client site IIS url: value="https://xxxxxxx"  -->
				<environmentVariable name="MOD.CatsV3.SiteUrl" value="https://cats.omb.gov" />
				<!-- CATS web api application IIS  url: value="https://xxxxxxx/api"  -->
				<environmentVariable name="MOD.CatsV3.SiteAPIUrl" value="" />
				<!-- CATSSharepoint site  url: value="https://sharepoint/sites/cats"  -->
				<environmentVariable name="MOD.CatsV3.SPSiteUrl" value="" />
				<!-- CATS library where documents will be uploaded: value=""  -->
				<environmentVariable name="MOD.CatsV3.DocumentLibrary" value="Documents Library" />
				<!-- Developement CATS library where documents will be uploaded: value="Documents Library"  -->
				<environmentVariable name="MOD.CatsV3.DocumentLibraryDEV" value="" />
				<!-- Emailbox where final items along with their respective attached documents will be archived : value="mailbox@mail.com"  -->
				<environmentVariable name="MOD.CatsV3.CATSArchiveEmailService" value="" />
			</environmentVariables>
		</aspNetCore>
		<security>
			<requestFiltering>
				<!-- This will handle requests up to 50MB -->
				<requestLimits maxAllowedContentLength="52428800" />
			</requestFiltering>
		</security>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
			<!-- add this -->
		</modules>
	</system.webServer>
</configuration>
<!--ProjectGuid: b0d791f9-8731-4052-9693-7296250bfd0d-->
<!--ProjectGuid: 868099D6-900D-4DA4-97F9-7B0FE9B72FCD-->